= slide 'Здрасти' do
  div.left
    img src='images/dakata.png' height='300'
    p.center
      | Йордан Петров
      br jrpetrov@uni-sofia.bg
  div.right
    img src='images/vladev.png' height='300'
    p.center
      | Христо Владев
      br hvladev@uni-sofia.bg

= slide 'Няколко въпроса' do
  list:
    Кой се е занимавал с уеб?
    Кой е писал на Ruby?
    Кой е чувал за MVC?
    Кой е чувал за REST?

= slide 'Още няколко въпроса' do
  list:
    Кой има намерение да посещава упражнения?
    Да сливаме ли упражненията в едно, ако няма посещение?
    Да преместим ли деня и часа?

= slide 'Основни теми' do
  list:
    HTTP
    Ruby
    HTML, CSS, JavaScript
    MySQL
    REST
    Authentication & Authorization

= slide 'Moodle' do
  p
    a href="http://moodle.openfmi.net/course/view.php?id=1911" target="_blank" World-Wide Web технологии (2015-16КН)

= slide 'Оценяване' do
  p 40% - Реферат по време на лекции
  p 40% - Курсов проект
  p 20% - Домашни

= slide 'Основи на HTTP', 'или как работи уеб-а' do
  list:
    Hypertext Transfer Protocol
    Stateless (не пази състояние)
    Комуникация между разпределени системи (distributed systems)
    Основите на съвременния уеб
    Ще го прегледаме отгоре-отгоре

= slide 'HTTP', 'URLs (част 1)' do
  list:
    Uniform Resource Locators
    Връзка към уеб ресурс
    Идентификатор
    Проста структура

= slide 'HTTP', 'URLs (част 2)' do
  img src='images/http-url-structure.png'
  p
    list:
      Протоколът може да бъде `http`, `https`, `ftp` и др.
      Портът по подразбиране е `80`
      Resource path - локален път към ресурса на сървъра

= slide 'HTTP', 'Verbs/Methods' do
  p Действия, които да бъдат осъществени върху сървъра
  list:
    `GET` - Вземи съществуващ ресурс
    `POST` - Създай нов ресурс
    `PUT` - Обнови съществуващ ресурс
    `DELETE` - Изтрий съществуващ ресурс
    Има и други (например `HEAD`, `TRACE`, `OPTIONS`)
    `URL`-ът съдържа необходимата за сървъра информация, относно желания ресурс

= slide 'HTTP', 'Request Structure' do
  img src='images/http-request-structure.png'

= slide 'HTTP', 'Response Structure' do
  img src='images/http-response-structure.png'

= slide 'HTTP', 'Request/Response' do
  img src='images/http-diagram.png'

= slide 'HTTP', 'Demo' do
  ul
    li Ще напишем HTTP заявка към moodle.openfmi.net
    li Ще ползваме telnet

= slide 'Основи на HTML', 'или как да структурираме уеб-а' do
  list:
    HyperText Markup Language
    Implemented by the browser
    Основата на всяка уеб страница
    Задава структура

= slide 'Пример за HTML страница' do
  p Запишете го във файл index.html и го отворете в браузъра.
  example:
    [lang:html]
    <!DOCTYPE html>
      <html>
      <head>
        <title>My title</title>
      </head>
      <body>
        <h1>My header</h1>
        <a href="http://example.com">My Link</a>
      </body>
    </html>

= slide 'HTML', 'Изграждащи единици' do
  p Тагове, атрибути, елементи.

  example:
    [lang:html]
    <tag> - отварящ таг
    </tag> - затварящ таг
    <tag attribute="value"> - атрибут на таг
    <tag attribute="value">tag content</tag> - елемент

  p Атрибутите дават допълнителна информация за HTML елементите.

= slide 'HTML', 'Структура' do
  example:
    [lang:html]
    <!DOCTYPE html> - Декларира HTML версията на документа (в случая HTML 5)
    <head> - Съдържа заглавие, скриптове, стилове, мета информация и други.
    <title> - Заглавие на страницата. Съдържа се в <head>.
    <body> - Дефинира съдържанието на документа.

= slide 'Заглавия' do
  example:
    [lang:html]
    <h1>This is heading 1</h1>
    <h2>This is heading 2</h2>
    <h3>This is heading 3</h3>
    <h4>This is heading 4</h4>
    <h5>This is heading 5</h5>
    <h6>This is heading 6</h6>

= slide 'Параграф' do
  example:
    [lang:html]
    <p>Paragraph with text.</p>

= slide 'Номериран списък' do
  example:
    [lang:html]
    <ol>
        <li>First list item</li>
        <li>Second list item</li>
        <li>Third list item</li>
    </ol>

= slide 'Неномериран Списък' do
  example:
    [lang:html]
    <ul>
        <li>One list item</li>
        <li>Some list item</li>
        <li>Another list item</li>
    </ul>

= slide 'Хиперлинк' do
  example:
    [lang:html]
    <a href="http://example.com" title="Link to example.com">My Link</a>

= slide 'Изображения' do
  example:
    [lang:html]
    <img src="http://example.com/image.jpg" alt="Example Image" />

= slide 'Секции в страницата' do
  example:
    [lang:html]
    <span>Some text here.</span>

= slide 'Секции в страницата' do
  example:
    [lang:html]
    <div>Some text here.</div>

= slide 'Задача: Проста HTML страница' do
  p Създайте файл с разширение .html. Създайте базовата структура (html, head, title, body) и сложете h1 таг с Вашето имe и ФН.
  p Добавете параграф с няколко думи.
  p Добавете номериран списък с 5 любими неща за ядене.
  p Добавете линк към facebook, който да се отваря в нова страница
  p
    b Предайте файл с име в формат [FN].html

= slide 'Източници' do
  ul
    li http://code.tutsplus.com/tutorials/http-the-protocol-every-web-developer-must-know-part-1--net-31177
    li http://code.tutsplus.com/tutorials/http-headers-for-dummies--net-8039
