= slide 'Клинет-сървър' do
  img src="images/client_net.jpg" style="width: 60%"

= slide 'PHP' do
  img src="images/get-php-file.png"

= slide 'PHP' do
  ul
    li.action Браузъра изпраща HTTP заявка към сървъра.
    li.action Сървъря я обработва.
    li.action Той може да прочете информация от база от данни.
    li.action Накрая генерира отговор под формата на HTML документ.

= slide 'Пример за PHP' do
  example:
    [lang:php]
    <!DOCTYPE html>
    <html>
      <head>
        <title>Example</title>
      </head>
      <body>
        <?php
          echo "Hi, I'm a PHP script!";
        ?>
      </body>
    </html>
= slide 'Пример за PHP' do
  example:
    [lang:html]
    <!DOCTYPE html>
    <html>
        <head>
            <title>Example</title>
        </head>
        <body>
            Hi, I'm a PHP script!
        </body>
    </html>
= slide 'Пример за PHP' do
  example:
    [lang:php]
    <html>
      <head>
        <title>Example</title>
      </head>
      <body>
        <?php
          echo "<h2>Hi, I'm a PHP script!</h2>";
        ?>
      </body>
    </html>
= slide 'Пример за PHP' do
  example:
    [lang:html]
    <!DOCTYPE html>
    <html>
        <head>
            <title>Example</title>
        </head>
        <body>
            <h2>Hi, I'm a PHP script!</h2>
        </body>
    </html>

= slide 'Променливи' do
  example:
    <?php
      $var = 'Bob';
      $Var = 'Joe';
      echo "$var, $Var";      // outputs "Bob, Joe"

      $4site = 'not yet';     // invalid; starts with a number
      $_4site = 'not yet';    // valid; starts with an underscore
      $täyte = 'mansikka';    // valid; 'ä' is (Extended) ASCII 228.
    ?>
= slide 'Константи' do
  example:
    <?php
      // Valid constant names
      define("FOO",     "something");
      define("FOO2",    "something else");
      define("FOO_BAR", "something more");
    ?>

= slide 'Типове в PHP' do
  example:
    <?php
      $myAge = 16;                    // a PHP Integer - always available
      $yourAge = 15.5;                // a PHP Float   - always available
      $hasHair = true;                // a PHP Boolean - always available
      $greeting = "Hello World!"      // a PHP String  - always available

      $person = new Person();         // a PHP Person  - available NOW!
    ?>

= slide 'Оператори за сравнение' do
  | <table class="doctable table">
    <thead>
      <tr>
       <th>Example</th>
       <th>Name</th>
       <th>Result</th>
      </tr>
    </thead>

    <tbody class="tbody">
      <tr>
       <td>$a == $b</td>
       <td>Equal</td>
       <td><strong><code>TRUE</code></strong> if <var class="varname"><var class="varname">$a</var></var> is equal to <var class="varname"><var class="varname">$b</var></var> after type juggling.</td>
      </tr>

      <tr>
       <td>$a === $b</td>
       <td>Identical</td>
       <td>
        <strong><code>TRUE</code></strong> if <var class="varname"><var class="varname">$a</var></var> is equal to <var class="varname"><var class="varname">$b</var></var>, and they are of the same
        type.
       </td>
      </tr>

      <tr>
       <td>$a != $b</td>
       <td>Not equal</td>
       <td><strong><code>TRUE</code></strong> if <var class="varname"><var class="varname">$a</var></var> is not equal to <var class="varname"><var class="varname">$b</var></var> after type juggling.</td>
      </tr>

      <tr>
       <td>$a &lt;&gt; $b</td>
       <td>Not equal</td>
       <td><strong><code>TRUE</code></strong> if <var class="varname"><var class="varname">$a</var></var> is not equal to <var class="varname"><var class="varname">$b</var></var> after type juggling.</td>
      </tr>

      <tr>
       <td>$a !== $b</td>
       <td>Not identical</td>
       <td>
        <strong><code>TRUE</code></strong> if <var class="varname"><var class="varname">$a</var></var> is not equal to <var class="varname"><var class="varname">$b</var></var>, or they are not of the same
        type.
       </td>
      </tr>

      <tr>
       <td>$a &lt; $b</td>
       <td>Less than</td>
       <td><strong><code>TRUE</code></strong> if <var class="varname"><var class="varname">$a</var></var> is strictly less than <var class="varname"><var class="varname">$b</var></var>.</td>
      </tr>

      <tr>
       <td>$a &gt; $b</td>
       <td>Greater than</td>
       <td><strong><code>TRUE</code></strong> if <var class="varname"><var class="varname">$a</var></var> is strictly greater than <var class="varname"><var class="varname">$b</var></var>.</td>
      </tr>

      <tr>
       <td>$a &lt;= $b</td>
       <td>Less than or equal to </td>
       <td><strong><code>TRUE</code></strong> if <var class="varname"><var class="varname">$a</var></var> is less than or equal to <var class="varname"><var class="varname">$b</var></var>.</td>
      </tr>

      <tr>
       <td>$a &gt;= $b</td>
       <td>Greater than or equal to </td>
       <td><strong><code>TRUE</code></strong> if <var class="varname"><var class="varname">$a</var></var> is greater than or equal to <var class="varname"><var class="varname">$b</var></var>.</td>
      </tr>

    </tbody>

    </table>
= slide 'Аритметични оператори' do
  | <table class="doctable table">
      <thead>
      <tr>
       <th>Example</th>
       <th>Name</th>
       <th>Result</th>
      </tr>

      </thead>

      <tbody class="tbody">
      <tr>
       <td>-$a</td>
       <td>Negation</td>
       <td>Opposite of <var class="varname"><var class="varname">$a</var></var>.</td>
      </tr>

      <tr>
       <td>$a + $b</td>
       <td>Addition</td>
       <td>Sum of <var class="varname"><var class="varname">$a</var></var> and <var class="varname"><var class="varname">$b</var></var>.</td>
      </tr>

      <tr>
       <td>$a - $b</td>
       <td>Subtraction</td>
       <td>Difference of <var class="varname"><var class="varname">$a</var></var> and <var class="varname"><var class="varname">$b</var></var>.</td>
      </tr>

      <tr>
       <td>$a * $b</td>
       <td>Multiplication</td>
       <td>Product of <var class="varname"><var class="varname">$a</var></var> and <var class="varname"><var class="varname">$b</var></var>.</td>
      </tr>

      <tr>
       <td>$a / $b</td>
       <td>Division</td>
       <td>Quotient of <var class="varname"><var class="varname">$a</var></var> and <var class="varname"><var class="varname">$b</var></var>.</td>
      </tr>

      <tr>
       <td>$a % $b</td>
       <td>Modulus</td>
       <td>Remainder of <var class="varname"><var class="varname">$a</var></var> divided by <var class="varname"><var class="varname">$b</var></var>.</td>
      </tr>

      </tbody>

    </table>
= slide 'Аритметика' do
  example:
    <?php
      echo (5 % 3)."\n";    // prints 2
      echo (5 % -3)."\n";   // prints 2
      echo (-5 % 3)."\n";   // prints -2
      echo (-5 % -3)."\n";  // prints -2
    ?>
= slide 'if' do
  example:
    <?php
      if ($a > $b) {
       echo "a is bigger than b";
      } elseif ($a == $b) {
       echo "a is equal to b";
      } else {
        echo "a is smaller than b";
      }
    ?>
= slide 'Алтернативен If' do 
  example:
    <?php
      if ($a == 5):
        echo "a equals 5";
        echo "...";
      elseif ($a == 6):
        echo "a equals 6";
       echo "!!!";
      else:
        echo "a is neither 5 nor 6";
      endif;
    ?>
= slide 'While' do 
  example:
    <?php
      $i = 1;
      while ($i <= 10) {
        echo $i++;
      }

      $i = 1;
      while ($i <= 10):
        echo $i;
        $i++;
      endwhile;
    ?>
= slide 'For' do 
  example:
    <?php
      for ($i = 1; $i <= 10; $i++) {
        echo $i;
      }
    ?>
= slide 'Масиви' do 
  p В PHP има само една структура от данни - масив.
  example:
    <?php
      $array = array(
        "foo" => "bar",
        "bar" => "foo",
      );

      // as of PHP 5.4
      $array = [
        "foo" => "bar",
        "bar" => "foo",
      ];
    ?>
= slide 'Foreach' do 
  p Обхожда последователно елементите на колекция.
  example:
    <?php
      $arr = array(1, 2, 3, 4);
      foreach ($arr as $value) {
        echo $value;
      }
    ?>
= slide 'Foreach' do 
  example:
    <?php
      $a = array(
        "one" => 1,
        "two" => 2,
        "three" => 3,
        "seventeen" => 17
      );

      foreach ($a as $k => $v) {
        echo "$k -> $v\n";
      }
    ?>
= slide 'Switch' do
  example:
    <?php
      switch ($i) {
        case 0:
          echo "i equals 0";
          break;
        case 1:
          echo "i equals 1";
          break;
        case 2:
          echo "i equals 2";
          break;
        default:
          echo "i is not equal to 0, 1 or 2";
      }
    ?>
    
= slide 'Функции' do
  example:
    <?php
      function foo($arg_1, $arg_2, /* ..., */ $arg_n) {
        echo "Example function.\n";
        return $retval;
      }
    ?>
= slide 'Функции' do
  example:
    <?php
      function takes_array($input) {
        echo "$input[0] + $input[1] = ", $input[0]+$input[1];
      }
    ?>
= slide 'Функции' do
  example:
    <?php
      function makecoffee($type = "cappuccino")
      {
        return "Making a cup of $type.\n";
      }
      echo makecoffee(); //Making a cup of cappuccino.
      echo makecoffee(null); //Making a cup of . 
      echo makecoffee("espresso"); //Making a cup of espresso.
    ?>
= slide 'Глобални променливи (масиви)' do
  ul 
  	li $_SERVER
  	li $_REQUEST
  	li $_POST
  	li $_GET
  	li $_FILES
  	li $_ENV
  	li $_COOKIE
  	li $_SESSION
  	
  	
  	
= slide 'Дебъгване в php' do
  ul
	li var_dump($var, $var2...)
	li print_r($var, true|false)
	li exit()/die()
	li 
		a href="http://xdebug.org/docs/" target="_blank" XDEBUG	
    
= slide 'Задача - прост календар' do
  p Създайте календар с PHP, който да показва текущия месец. Календара трябва да може да сменя месеците си посредством връзка към предишен/следващ месец.
  p Използвайте примера по-долу като основа за календара. За референция как да вземете първи ден от седмица, брой дни от седмицата и т.н. използвайте <a href="http://php.net/manual/bg/function.date.php" target="_blank"> date()</a>
  p При подаването на параметрите по GET използвайте year и month като параметри.
  example:
    [lang:html]
  	 <table border="1">
  	   <tr align="center">
  	     <td colspan="2"><a href="#">Септември</a></td>
  	     <td colspan="3">Октомври 2014</td>
  	     <td colspan="2"><a href="#">Ноември</a></td>
  	   </tr>
  	   <tr align="center">
  	     <td>Понеделник</td>
  	     <td>Вторник</td>
  	     <td>Сряда</td>
  	     <td>Четвъртък</td>
  	     <td>Петък</td>
  	     <td>Събота</td>
  	     <td>Неделя</td>
  	   </tr>
  	   <tr align="center">
  	     <td></td>
  	     <td></td>
  	     <td>1</td>
  	     <td>2</td>
  	     <td>3</td>
  	     <td>4</td>
  	     <td>5</td>
  	   </tr>
  	 </table>

  p 
    b Предайте решението в формата [FN].php